.footerContainer {
  padding: 4.5rem 0;
  border-top: 1px solid var(--borderColor1);
}

.footerLogo {
  height: 5rem;
}

.footerLogo a {
  height: 100%;
}

.footerCenterArea ul:first-child li a {
  font-size: 1em;
  font-weight: var(--font-weight-bold);
}

.footerCenterArea ul:nth-child(2) {
  margin-top: 2rem;
}

.footerCenterArea ul:nth-child(2) li {
  padding-right: 1.5rem;
  color: #999;
  font-size: 0.85em;
  font-weight: var(--font-weight-bold);
}

.footerCenterArea ul:nth-child(2) li::after {
  content: '';
  position: absolute;
  right: 0;
  top: 40%;
  width: 2px;
  height: 2px;
  background: #999;
}

.footerCenterArea ul:nth-child(2) li:last-child::after {
  content: '';
  display: none;
}

.footerCenterArea>p {
  margin-top: 1rem;
  font-size: 0.85em;
  font-weight: var(--font-weight-bold);
  color: #999;
}

@media all and (max-width: 1024px) {
  .footerContainer {
    font-size: 0.9em;
  }
}

@media all and (max-width: 767px) {
  .footerContainer .row {
    flex-direction: column;
  }

  .footerLogo a {
    justify-content: center;
  }

  .footerCenterArea {
    margin-top: 1em;
  }

  .footerCenterArea>ul {
    justify-content: center;
  }

  .footerCenterArea>p {
    text-align: center;
  }

  .snsArea {
    margin-top: 1em;
    justify-content: center !important;
  }
}

@media all and (max-width: 500px) {
  .footerContainer {
    font-size: 0.8em;
  }
}

@media all and (max-width: 425px) {
  .footerCenterArea>ul {
    flex-wrap: wrap;
  }

  .footerCenterArea>ul {
    gap: 0.5rem !important;
  }

  .footerCenterArea ul:nth-child(2) li {
    padding-right: 1rem;
  }
}